<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>Planetarium</title>
      <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

    </head>

    <body>
      <div id = "app">
        <div id="headline" class ="holder headline">
          Planetarium
        </div>


        <div id="flex-container">
        <div id="function">
        
          <div class ="holder">
            <label for="trip-date">Select Date</label>
            <input id="trip-date" type="date">

            <button id="generate" type = "submit"> Save Entry </button>

    
          </div>

          <button id="previous-entries" type="button">Show Saved Entries</button>
  


        </div>

        <div id='loader'></div>
        <div id="fig-container">
        <figure id="image-holder">
          <img id="city-image" src="https://cdn.pixabay.com/photo/2012/11/28/10/34/rocket-launch-67643__480.jpg" alt="nasa">
        
          <figcaption>


            <div class = "title">Info</div>
            
              <div id = "entry-holder">
                <div id="name"></div>
                <div id = "date"></div>
                <div id="mssg"></div>
                <div id = "temp"></div>
                <div id = "forecast"></div>


              </div>


          </figcaption>
        </figure>


        </div>

        <div id="hidden-button-div">
        <button id="hide-entries" type="button">Hide Saved Entries</button>
        <div id='bttn-mssg'></div>
        </div>


       
        <div id="new-cards"></div>
        </div>

        </div>
        
        <script>
          // Check that service workers are supported
          if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                  navigator.serviceWorker.register('/service-worker.js');
              });
          }
        </script>

    </body>
  </html>